
<h1 class = "greeting">
	<% if current_user %>
		<p class="pull-right"><%= link_to "Shopping Cart" + "(2)", '#' %>
			</p>
		<%#= "Welcome " + current_user.username + "!" %><br />
	<% end %>
	<%= render 'layouts/meggingresults' %>