
<%= render 'users/signup' %> 

<!-- 
<h1 id="title"> Sign Up</h1>
<div class="sign-up">	
	<div>

	<%#= form_for @user, :html => {:class => "sign-up-form"} do |u| %> 
		
		<%#= u.label :username %> </br>
		<%#= u.text_field :username %> </br>
		<%#= u.label :email %> </br>
		<%#= u.text_field :email %></br>
		<%#= u.label :password %></br>
		<%#= u.password_field :password %></br><br />
		
		<%#= u.button "Sign Up" %></br></br>
		<%= notice %></br></br>
	<%# end %>
	</div>
</div>
 -->
