
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 banner">
      <div class="col-md-8 copy">
        <h1 class="heading-title">Men's Fashion Redefined.</h1> 
        <h2 class="heading-title2">Premium Meggings. Optimal Fit. Incredible Style.</h2> <br />
        <p><%= link_to('Shop Now', meggings_path, :class => 'btn btn-lg btn-primary banner-button')  %></p>
        


      </div>
    </div>
  </div>
</div>

