@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

html,body {
  height:100%;
}
.banner {
	background: url(/assets/carousel-image2.jpg);
	height: 400px;
}
#megging-price {
	color: #a76939;
}
.pull-right {
	font-size: 14px;
	margin-top: -40px;
	margin-right: 10px;
	text-align: center;
}

#header {
	height: 60px;
	// border: 1px solid black;
	font-family: 'Montserrat Alternates', sans-serif;
}
#logo {
	margin-left: 30px;
	margin-top: 0px;
	color: rgb(99, 106, 121)
}
#sign-in {
	text-align: right;
	margin-top: 3px;
	margin-right: 100px;
	text-decoration: underline;

}

#logo2 {
	color: #780e18;
	font-family: Arial;
	font-size: 100px;
	margin-left: 30px;
	margin-top: -30px;
	text-align: left;
	padding-bottom: 70px;
}


.carousel-inner,.carousel,.item,.container {
  height:470px;
  width:100%;
  margin: 0 auto;

}

.carousel-image {
	width: 100%;
}



p.megging-name, p.description, .add-item-button{
	text-align: center;
}



.break {
	height: 100px;
}

.mDescription {
	text-align: left;
	
	width:700px;
	margin: 0 auto;
}
 #megging-experience {
 	font-size: 60px;
 }
#definition {
	text-align: left;
	font-size: 25px;
}
#span-definition {
	font-size: 19px;
}
