// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
#title {
	text-align: center;
}
.sign-up {
	width: 500px;
	height: 350px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 50px;
	margin-top: -3px;
	
}

.sign-up-form {
	width: 300px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;

}

.sign-up-form {
	width: 300px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;

}

.sign-in-form {
	width: 300px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	font-size: 16px;
	margin-top: -3px;

}