// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Allerta);

html, body, .container-fluid, .row {
	height: 480px;
}


.banner {
background: url(/assets/carousel-image2.jpg)
}

.copy {
	margin-top: 130px;
}
  .heading-title {
	font-size: 38px;
	font-family: 'Allerta', sans-serif;
	color: rgb(107, 105, 134)
 }
 .heading-title2 {
  	font-size: 18px;
  	color: black;
  	font-family: 'Allerta', sans-serif;

 }

.btn{
	background-color: #192768;
}
a:visited{
	&#shop-now {
		color: white;
	}
	
}
a:hover{
	&#shop-now {
		background-color: rgb(99, 106, 121);
	}
}

.megging-box {
	height: 345px;
	background-color: #eaeaea;
	text-align: center;
	padding-top: 35px;

}
#megging-box-title {
	color: #192768;
	padding-bottom: 5px;
	font-family: 'Allerta', sans-serif

}
.megging-box-header {
	// font-family: 'Allerta', sans-serif;
	color: black;
}
.megging-box-description {
	font-decoration: bold;
	color: #192768;
}
.megging-definition {
	// border: 1px solid black;

	height: 400px;
}
.img-def {
	}

#megging-def {
	padding-top: 150px;
}